.addform{
    font-size: 20px;
    border-radius: 10px;
    background: #ffffff56;
    padding: 20px;
    width: 300px;
    display: block;
}

.addform input{
    height: 23px;
    width: 50%;
    padding-right:40px;
    background-color:rgb(253, 253, 253);
    border: #ffffff;
}
.addform input:hover{
    background-color: bisque;
}
.addform input:focus{
    background-color: cornsilk;
    outline: none;
}
.addform input:required{
    background-color:rgb(255, 74, 74);
}

.addform button{
    height: 25px;
    width: 20%;
    border: none;
    color: rgb(255, 123, 123);
    background-color: rgb(255, 255, 255);
}